.registration-success-modal {
  padding: 50px 0 45px;

  .title {
    display: flex;
    justify-content: center;

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      margin: 0;
      font-family: Sanchez, sans-serif;
    }
  }

  .details {
    padding: 0 200px;

    p {
      background: #f0f0f0;
      padding: 5px 15px;
      font-family: Sanchez, sans-serif;
    }

    dl {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
      padding: 0 16px 8px 16px;
      border-bottom: 1px solid #dedede;

      dt, dd {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
      }

      dt {
        text-align: left;
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      padding-bottom: 30px;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      max-width: 600px;
      text-align: center;
    }
  }
}
