.register {
  min-height: 100vh;

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 65px;

    h1, h2, p {
      margin: 0;
    }

    section {
      margin-top: 15px;
      margin-bottom: 15px;

      .row {
        display: flex;
        flex-direction: row;

        .col {
          min-width: 460px;
          display: flex;
          flex-direction: column;

          .clean-code-text-input input,
          .clean-code-textarea-input textarea,
          .clean-code-select-input .clean-code-react-select-container {
            min-width: 300px;
          }

          .clean-code-textarea-input textarea {
            max-width: 480px;
            width: 100%;
          }

          .clean-code-textarea-input {
            flex: 1;
          }
        }
      }
    }

    section .row.submit {
      align-items: center;

      a {
        margin-left: 30px
      }
    }

    .clean-code-text-input,
    .clean-code-textarea-input,
    .clean-code-select-input {
      padding-top: 30px;

      label + div {
        display: flex;
        flex-direction: column;
      }
    }

    .clean-code-checkbox-input label {
      font-size: 18px;
    }

    .terms label a {
      color: #000 !important;
    }
  }
}

